.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-27zHe5zcYUvd);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-KhFZB6IjaTPL);
  font-family: var(--token-pDfh55xZevM8);
  font-size: var(--token-j4Mr_RYuKMtv);
  line-height: var(--token-CUBjDSNzkmf-);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-dfSbck4ce1Hw);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-zw8iJjzE3J33);
  outline-offset: 1px;
  outline-color: var(--token-27zHe5zcYUvd);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-dE0xnul1wvuN);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token--olVDl9iNQe-);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-KlIlNrwkoKUh);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-KuqKkz6gpaW7);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-e85VM3HvRpO3);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-omeI3E1jUKRW);
  font-size: var(--token-WLMleTPjfJGx);
  column-gap: var(--token-zw8iJjzE3J33);
  row-gap: 0px;
  border-radius: var(--token-1F08wHMb1xCX);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-WLMleTPjfJGx);
  line-height: var(--token-omeI3E1jUKRW);
  column-gap: var(--token-1F08wHMb1xCX);
  row-gap: 0px;
  border-radius: var(--token-1F08wHMb1xCX);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-MBRd7O37Yx2F);
  line-height: var(--token-Ykc6uWttKEye);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-MBRd7O37Yx2F);
  line-height: var(--token-Ykc6uWttKEye);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-PajxJJgdc08K);
  border-radius: var(--token-dfSbck4ce1Hw);
}
.softBackgroundcolor_neutral {
  background: var(--token-hklsu84L6fE-);
}
.softBackgroundcolor_muted {
  background: var(--token-d4l4EC_tNsL2);
}
.softBackgroundcolor_success {
  background: var(--token-Q_XrlVcHP0s3);
}
.softBackgroundcolor_warning {
  background: var(--token-EZ9dV6mDaKy-);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-O5MYmnqkphBl);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-dfSbck4ce1Hw);
  border: 0px solid var(--token--VfUrREPBCHt);
}
.bordercolor_neutral {
  border-color: var(--token--BcCwC4t35UJ);
}
.bordercolor_muted {
  border-color: var(--token-lAZpUTZfp_iB);
}
.bordercolor_success {
  border-color: var(--token-p3JSCbkNQ8n5);
}
.bordercolor_warning {
  border-color: var(--token-aVrNqw7jDC0Z);
}
.bordercolor_errorDestructive {
  border-color: var(--token-My-ri2W_ZnAY);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-dfSbck4ce1Hw);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-84eJD8Rk8NDL);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-g1rKdxZeRebJ);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-HZKYeBJ5QHLT);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__gLiH {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-dfSbck4ce1Hw) var(--token-UW9BN58_2X7t);
}
.freeBox__gLiH > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-dfSbck4ce1Hw));
  width: calc(100% + var(--token-dfSbck4ce1Hw));
}
.freeBox__gLiH > :global(.__wab_flex-container) > *,
.freeBox__gLiH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gLiH > :global(.__wab_flex-container) > picture > img,
.freeBox__gLiH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-dfSbck4ce1Hw);
}
.freeBoxsize_extraSmall__gLiHEGlj {
  padding: var(--token-1F08wHMb1xCX) var(--token-dfSbck4ce1Hw);
}
.freeBoxsize_small__gLiHBil6L {
  padding: var(--token-dfSbck4ce1Hw) var(--token-KhFZB6IjaTPL);
}
.freeBoxsize_large__gLiHgmCk {
  padding-top: var(--token-1F08wHMb1xCX);
  padding-bottom: var(--token-1F08wHMb1xCX);
}
.freeBoxsize_extraLarge__gLiHtVnvq {
  padding-left: var(--token-aHyGkUuC_7ut);
  padding-right: var(--token-aHyGkUuC_7ut);
}
.freeBoxroundedFull__gLiHbHgAg {
  padding-right: var(--token-aHyGkUuC_7ut);
  padding-left: var(--token-aHyGkUuC_7ut);
}
.freeBox__rVxte {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__rVxteMei9Q {
  display: flex;
}
.slotTargetStart {
  color: var(--token-gmeMgoTKv8l8);
}
.slotTargetStartcolor_neutral {
  color: var(--token-DHWKgJQdibHy);
}
.slotTargetStartcolor_muted {
  color: var(--token-m4YR4mbMpWO1);
}
.slotTargetStartcolor_success {
  color: var(--token-BTy0E-7WUDh4);
}
.slotTargetStartcolor_warning {
  color: var(--token-YNlTiYQpOFra);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-0mrmfo1kRnhA);
}
.slotTargetStarttype_soft {
  color: var(--token-Y_RfXIvh0ap8);
}
.slotTargetStarttype_bordered {
  color: var(--token-Y_RfXIvh0ap8);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-WLMleTPjfJGx);
}
.slotTargetStartsize_small {
  font-size: var(--token-WLMleTPjfJGx);
}
.slotTargetStartsize_large {
  font-size: var(--token-MBRd7O37Yx2F);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-MBRd7O37Yx2F);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-f3TvtlVEDlk8);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-f3TvtlVEDlk8);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-ptRM4pt5EEhC);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-ptRM4pt5EEhC);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-R97-FxMkNMXH);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-R97-FxMkNMXH);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-403wGBbDPrUj);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-403wGBbDPrUj);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-OGpZCx2woUNj);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-OGpZCx2woUNj);
}
.svg__mVgKk {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-gmeMgoTKv8l8);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-DHWKgJQdibHy);
}
.slotTargetLabelcolor_muted {
  color: var(--token-m4YR4mbMpWO1);
}
.slotTargetLabelcolor_success {
  color: var(--token-BTy0E-7WUDh4);
}
.slotTargetLabelcolor_warning {
  color: var(--token-YNlTiYQpOFra);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-0mrmfo1kRnhA);
}
.slotTargetLabeltype_soft {
  color: var(--token-Y_RfXIvh0ap8);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Y_RfXIvh0ap8);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-f3TvtlVEDlk8);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-ptRM4pt5EEhC);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-f3TvtlVEDlk8);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-R97-FxMkNMXH);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-ptRM4pt5EEhC);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-403wGBbDPrUj);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-R97-FxMkNMXH);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-OGpZCx2woUNj);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-403wGBbDPrUj);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-OGpZCx2woUNj);
}
.text__nffgO {
  white-space: pre;
}
.freeBox__u13Xy {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__u13XydN9O {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-gmeMgoTKv8l8);
}
.slotTargetEndcolor_neutral {
  color: var(--token-DHWKgJQdibHy);
}
.slotTargetEndcolor_muted {
  color: var(--token-m4YR4mbMpWO1);
}
.slotTargetEndcolor_success {
  color: var(--token-BTy0E-7WUDh4);
}
.slotTargetEndcolor_warning {
  color: var(--token-YNlTiYQpOFra);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-0mrmfo1kRnhA);
}
.slotTargetEndtype_soft {
  color: var(--token-Y_RfXIvh0ap8);
}
.slotTargetEndtype_bordered {
  color: var(--token-Y_RfXIvh0ap8);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-WLMleTPjfJGx);
}
.slotTargetEndsize_small {
  font-size: var(--token-WLMleTPjfJGx);
}
.slotTargetEndsize_large {
  font-size: var(--token-MBRd7O37Yx2F);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-MBRd7O37Yx2F);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-f3TvtlVEDlk8);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-f3TvtlVEDlk8);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-ptRM4pt5EEhC);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-ptRM4pt5EEhC);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-R97-FxMkNMXH);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-R97-FxMkNMXH);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-403wGBbDPrUj);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-403wGBbDPrUj);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-OGpZCx2woUNj);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-OGpZCx2woUNj);
}
.svg__v1BEk {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
